{{!-- navbar --}}
<nav class="navbar navbar-inverse" id="navbar">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="/">Mongo Scraper</a>
        </div>
        <ul class="nav navbar-nav">
            <li><a href="/">Home</a></li>
            <li><a href="/savedarticles">Saved Articles</a></li>
            <li><a href="/scrape" id="scrape-button">Scrape New Articles</a></li>
        </ul>
        {{!-- <button class="btn btn-danger navbar-btn" href="/scrape" id="scrape-button">Scrape New Articles</button> --}}
    </div>
</nav>

{{!-- jumbotron --}}
<div class="jumbotron">
    <div class="jumbotron-font">
        <h1>Mongo Scraper</h1>      
        <p>Vice News Edition</p>
    </div>
</div>