{{!-- navbar --}}
<nav class="navbar navbar-inverse" id="navbar">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="/">Mongo Scraper</a>
        </div>
        <ul class="nav navbar-nav">
            <li><a href="/">Home</a></li>
            <li><a href="/savedarticles">Saved Articles</a></li>
            <li>
                <p class="navbar-btn">
                    <a href="/scrape" class="btn btn-danger">Scrape New Articles</a>
                </p>
            </li>
            {{!-- <li><a href="/scrape" id="scrape-button">Scrape New Articles</a></li> --}}
        </ul>
    </div>
</nav>

{{!-- jumbotron --}}
<div class="jumbotron">
    <div class="jumbotron-font">
        <h1>Vice News Scraper</h1>      
        {{!-- <p>Vice News Edition</p> --}}
    </div>
</div>