<section id="saved-news-articles">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                    <ul id="display-saved-articles">
                        {{!-- dynamically append users books --}}
                    </ul>
            </div>
        </div>
    </div>
</section>
