body {
    font-family: Helvetica;
}

#navbar { 
    margin-bottom: 0px;
}

.jumbotron {
    /* color: white; */
    text-align: center;
    background-image: url("../images/newsjumbo.jpg");
    background-size: cover;
    /* background-repeat: no-repeat; */
    height: 300px;
}

.jumbotron-font {
    color: white;
    text-shadow: 0px 15px 5px rgba(0,0,0,0.1),
    10px 20px 5px rgba(0,0,0,0.05),
    -10px 20px 5px rgba(0,0,0,0.05);
}

#display-articles {
    list-style-type: none;
}

.article-list {
    overflow: auto;
    padding-bottom: 15px;
    border-top: 1px solid black;
}

.save-article-button {
    /* float: right; */
}

